@font-face 
{
    font-family: titleFont ;
    src: url(Aboretor.ttf);
}

@font-face 
{
    font-family: bodyText;
    src: url(lexend.ttf);
}

@font-face {
    font-family: niceslim;
    src: url(Walburn.ttf);
}

.all
{
    width:100vw ;
    overflow-x: clip !important;
    z-index: -100;
}

.branding
{
    padding: 15px 0px ;
    height: 80px;
}

#globe
{
    width: 55px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;

}

#esdco
{
    color: #1167b1;
    font: 600;
    line-height: 1.0 ;

    font-family: niceslim ;
    font-weight: bolder;

    position: absolute;
    top: 10px;
    left: 75px;
}

#headerESDCO
{
    font-family: niceslim;
    font-size: small;
    line-height: 0.9;
    color: rgb(222, 222, 222);
    padding: 5px;

    position: absolute;
    top: 10px;
    left: 90%;
    
    background-color: #1167b1;
    border-radius: 5px;
    width: fit-content;
    background-image: linear-gradient(to bottom right, #1377cf, #0e4c82);
}

#jumbo1
{
    background-image: url("../images/environment-1-jumbo.jpg");
    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;

    height: 650px;
}

#jumbo2
{
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;

    height: 650px;
}

#jumbo3
{
    background-image: url("../images/bg-3.jpg");
    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;

    height: 650px;
}
#jumbo4
{
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;

    height: 650px;
}
#jumbo5
{

    background-size: cover;
    background-position: 35%;
    background-repeat: no-repeat;

    height: fit-content;
}

.navbar-brand
{
    position: sticky;
    top: 0px;
}

#navigation-bar
{
    /* border: solid black 10px; */

    position: sticky;
    top: 0px;
    z-index: 100;
}

.nav-item
{
    font-family: titleFont;
    font-weight: 900;
    font-size: large;

    transition: 300ms;
}

.nav-link:hover
{
    color: #3a9bdc !important;
}

a{transition: 200ms;}

a:hover
{
    color: #3a9bdc !important;
}
#nav-logo
{
    width: 20px;
    position:absolute;
    left: 10px;
    top: 20px;
}

#nav-logo-top
{
    width: 20px;
    position:absolute;
    left: 10px;
    top: 0px;
    display: none;
}

#hallway
{
    background-image: url(../images/hallway.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#secondPart
{
    background-color: #1f6bad ;
}

.svtabs
{
    margin: auto;
    height: fit-content;
    border-radius: 10px !important;
    transition: 300ms;
}

.svtabs:hover
{
    background-color: #eeeeee !important;
}

.svtabsImg
{
    /* background-image: url(../images/work-group.jpg); */
    background-size: cover;
    height: 160px;
    background-position: 50%;
}

#thirdPart
{
    background-color: whitesmoke;
    height: 800px;
}


#nousconP1
{
    height: fit-content;
    background-color: #eeeeeeb6;
}

#nousconP1svg
{
    height: 300px;
    background-image: url(../images/wave4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.Pres-pics
{
    background-image: url(../images/pdg.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    height: 500px;

}

.teampics
{
    background-image: url(../images/team.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    height: 400px;

}

#servbody
{
    background-color: #03254c;

    height: fit-content;
    width: 100%;
}
.srvpics
{ 
    background-position: 50%;
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 5px; 
    height: 300px;
}

#map
{
    position: relative;
    padding: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

#send
{
    color: whitesmoke;
    background-color: #1377cf;
    border-radius: 20px;
    transition: 300ms;
}

#send:hover
{
    color: white;
    background-color: #0d5695;
    border-radius: 15px;
}

.form-fin
{
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
}

.form-fin-message
{
    height: 300px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left !important;
}







/* --------------------------------------------------------------------------- */


@media only screen and (max-width: 990px)
{ 
    #ESDCObrand
    {
        display: inline-block !important;
        position: sticky;
        top: 5px;
        margin: auto;

        font-family: titleFont;
        color: green;
    }

    #jumbo1
    {
        height: 400px;
        width: 100%;
    }
    #jumbo2
    {
        height: 400px;
        width: 100%;
    }
    #jumbo3
    {
        height: 400px;
        width: 100%;
    }
    #jumbo4
    {
        height: 400px;
        width: 100%;
    }
    #jumbo5
    {
        height: 400px;
        width: 100%;
    }

    #globe
{
    width: 43px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 15px;
}

#esdco
{
    color: #1167b1;
    font-size: small;
    line-height: 1.0 ;

    font-family: titleFont ;
    font-weight: bolder;

    position: absolute;
    top: 15px;
    left: 65px;
}


    .navbar-brand
    {
        display: block !important ;
    }

    #nav-logo
    {
        display: none;
    }
    
    #nav-logo-top
    {
        display: block;
    }

    .nav
    {
        display: inline-flex !important; 
        flex-direction: column !important;
        text-align: center !important;
        width: 100%;
        padding-top: 5px;
    }

    #big-title
{
    margin-bottom: 20px !important;
}

#firstPart
{
    width: 100% !important;
}

#headerESDCO
{
    font-family: bobyText;
    font-size: x-small;
    line-height: 0.85;
    color: rgb(222, 222, 222);
    padding: 5px;

    position: absolute;
    top: 16px;
    margin-left: -45px;
    margin-right: auto;

    background-color: #1167b1;
    border-radius: 5px;
    width: fit-content;
}

#servbody
{
    background-color: #03254c;

    height: fit-content;
    width: 100%;
    padding: 0px 30px;
}

#hallway
{
    background-image: url(../images/hallway.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#mapFrame
{
    width: 100%;
    height: 700px;
}

}